.destino{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 40px;
    
}

.destinoInfo{
    width: 470px;
}

.destinoInfo__titulo{
     margin-bottom: 70px;
     font-size: 50px;
}



.destinoContenido{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.destinoContenido__mas{
    font-size: 25px;
    font-weight: bold;
}

.destinoInfo__space{
    margin-top: 20px;
}



.destinoImagen__contenido{
    height: 450px;
}

@media(max-width: 985px ){
      .destinoImagen__contenido{
        width: 90%;
        height: 90%;
      }
}

@media(max-width:785px){
    .destino{
        padding: 10px;
        display: block;
        margin: 30px auto;
    }
    .destinoImagen__contenido{
        
        
        width: 50%;
        height: 10%;
      }

    .destinoImagen{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }  
}

@media(max-width: 516px){
    
    .destinoContenido{
        width: 100%;
        padding: 10px;
    }
    .destinoInfo__space{
        width: 100%;
    }
    .destinoInfo__titulo{
        font-size: 30px;
        
    }

    .destinoInfo{
        margin: 0 auto;
        width: 100%
    }
}