.containerInfoPlace{
    justify-content: center;
    display: flex;
    align-items: center;
}

.Infoplace{
    margin-top: 90px;
}


.ImagenInfo{
    position: relative;
    
}

.ImagenInfo__principal{
    padding: 60px;
    
    object-fit: fill;
    height: 700px;
    width: 600px;

    
}

.ImagenInfo__curita{
    position: absolute;
    left: 20px;
    top: 30%;
}

.InfoText{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.InfoText__titulo{
    font-family: "Cardo", bold;
    width: 300px;
    text-decoration: underline;
}

.InfoText__cuerpo{
    font-family: "Lato", sans-serif;
    width: 400px;
}

.InfoText__arrow{
    display: block;
    margin-top: 60px;
    width: 200px;
    font-size: 60px;
    text-align: right;
}

@media(max-width: 1379px){
    .InfoText{
        display: block;
    }

    .InfoText__titulo{
        margin-bottom: 20px;
    }

    .Infoplace{
        margin-top: 180px;
    }
}


@media(max-width:1049px){
    .containerInfoPlace{
        
        display: block;
        margin: 0 auto;
    }
    .Infoplace{
        text-align: center;
    }

    .InfoText{
        justify-items: center;
        text-align: center;
    }
    .InfoText__arrow{
        text-align: center;
    }
}


