.portada__secundaria{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  background-color: var(--colorFondoMemory);
  margin-top: 40px;
  height:100%;
  gap: 30PX;
}
.content__text{
  display: flex;
  justify-content: center;
}
.memorysLeft{
  width: 45%;
}
.memorysLeft__imagen{
  width: 100%;
  padding-top: 40px;
}
.memorys{
    margin-left:-100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memorys__titulo{
    text-align: center;
    font-family: "Cardo", bold;
    font-weight: bold;
    color: var(--colorBlanco);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.memorys__texto{
    width: 60%;
    color: var(--colorBlanco);
    font-family: "Lato", sans-serif;
    margin-bottom: 50px;
}
.memorys__button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    border: 2px solid var(--colorBlanco);
    color: var(--colorBlanco);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
}
.memorysRight{
    width: 4%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 16%;

}
.memorysRight__imagen{
    margin-bottom: 60px;
}
.portada__cuatro{
  display: flex;
  background-color: var(--colorFondoMemory);
  position: relative;
}
.text__left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.textos{
   padding: 40px 80px;
   color:var(--colorBlanco);
   
}
.text__titulo{
  text-align: center;
  margin-top:40px;
  color:var(--colorBlanco);
  width: 100%;
  display: flex;
  justify-content: center;
}
.portada__title{
  width: 50%;
  font-family: "Cardo", bold;
  font-weight: bold;
  color: var(--colorBlanco);
  font-size: 45px;
}
.text__titlee{
 font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
}

.text__subtitle{
   font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 14px;
  color: var(--subtitle);
}
.content__img{
 margin-top: 25px;
 padding: 40px 0;
 width: 100%;
 margin-bottom: 25px;
}
.img__four{
  width: 100%;
}
.decoration{
  position: absolute;
  top:84%;
  left:1px;
  width:20%;
}

