.customs{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top:10%;
}
.custom__title{
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  width: 500px;
  text-align: center;
}
.customs__decoration{
  position: absolute;
  width: 20%;
  top:-10px;
  left:0px;
}

.flechas{
  display: flex;
  margin-top: 30px;
  padding:20px 0px;
  gap: 20px;
  position: relative;

}
.perfiles{
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:10px;
  width: 350px;
  height: 350px;
  border: 3px solid var(--colorNegro);
}
.perfiles__img{
  width: 41%;
}
.perfiles__title{
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
  margin:30px;
}
.perfiles__subtitle{
  color: var(--colorSubtitulos);
  text-align: center;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}
.decoration__botom{
  width: 30%;
  position: absolute;
  top: 100%;
  left: 70%;
}
.flechas__container{
  background-color: var(--colorBlanco);
  position: absolute;
  left: -30px;  
  top: 155px;
  width: 70px;
  height: 60px;
  border:3px solid var(--colorNegro);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__left{
 font-size: 40px;  
}
.estilo{
  background-color: var(--colorBlanco);
  position: absolute;
  right: -30px;  
  top: 155px;
  width: 70px;
  height: 60px;
  border:3px solid var(--colorNegro);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estilo__right{
  font-size:40px
}

@media(max-width:1180px){
    

     .customs{
         position: static;
         
     }

     .decoration__botom{
       display: none;
     }

     .customs__decoration{
      display: none;
     }

     .flechas{
        width: 80%;
     }
}

@media(max-width:1130px){
     
      .six__title{
         margin: 30px auto;
      }
}

@media(max-width:931px){
     
     .estilo{
        
        width: 50px;
     }

     .flechas__container{
        width: 50px;
     }
}

@media(max-width:910px){
     
     .perfiles{
        padding: 20px;
     }

     .estilo{
        
      width: 40px;
      right: -30px;
   }

   .flechas__container{
      width: 40px;
      left: -30px;
   }




}

@media(max-width:790px){
    
  .perfiles{
    justify-content: center;
    margin: 0 auto;
  }
}


@media(max-width:376px){
     
  .perfiles{
    width:90%;
  }
}
